
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1em;
    
}

.register {
    width: auto;
    height: 8vh;
    transition: transform 300ms, box-shadow 300ms;
}
.productos {
    width: auto;
    height: 8vh;
    transition: transform 300ms, box-shadow 300ms;
}
.login {
    width: auto;
    height: 8vh;
    transition: transform 300ms, box-shadow 300ms;
}
.register:hover {
    transform: scale(1.03);
    cursor: pointer;
}
.productos:hover {
    transform: scale(1.03);
    cursor: pointer;
}
.login:hover {
    transform: scale(1.03);
    cursor: pointer;
}